<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Blindajes</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>        
    </head>
    <body>
        <h2>Listado de blindajes</h2>
        <div class="alert alert-success" th:if="${exito != null}" th:text = "${exito}"></div>
        <div class="container mt-3">
          <table class="table table-striped-columns">
            <thead>
              <tr>
                <th>Id</th>
                <th>Modelo</th>
                <th>Altura [mm]</th>
                <th>Radio [mm]</th>
                <th>Peso [Kg]</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="blindaje : ${blindajes}">
                <th scope="row" th:text="${blindaje.id}"></th>
                <td ><a th:text="${blindaje.modelo}"></a></td>
                <td ><a th:text="${blindaje.altura}"></a></td>
                <td ><a th:text="${blindaje.radio}"></a></td>
                <td ><a th:text="${blindaje.peso}"></a></td>
              </tr>
            </tbody>
          </table>
        </div>
    </body>
</html>
